.grid {
    display: flex;
    flex-direction: row;
  }
  
  // .company-list {

  //   .company-card-description {
  //     font-size: 1.3rem;
  //   }
  //   .company-card-selection{
  //     display: flex;
  //     // justify-content: space-between;
  //   }
  // }
  

.company-card {

  .main-content{
    
    .company-card-name{
        border: 2px solid blue;
    }
  }
}