.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.job-card {
  .job-card-image {
    padding: 5px !important;
  }
  .job-card-company {
    font-size: 2rem;
  }
  .job-card-selection {
    display: flex;
    justify-content: space-between;
  }
}
