.navigation {
  overflow: hidden;
  background: #333333;
  width: 100%;
  text-align: center;
  .navbar-companies {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
      width: 100%;
      display: grid;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    ul:first-of-type {
      grid-template-columns: 1fr;
    }
    ul:first-of-type li {
      font-size: 1.4rem;
      font-weight: bold;
      text-indent: 30px;
    }
    ul:first-of-type li span {
      font-weight: 500;
      color: #444;
    }

    ul:last-of-type {
      grid-template-columns: repeat(3, 1fr);
    }
    a {
      color: #111;
      text-decoration: none;
      font-weight: bold;
      display: block;
      &:hover {
        color: lightgrey;
      }
      &:link {
        text-decoration: none;
      }
    }
  }
  .navbar-seekers {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      color: #fff;
      transition: color 0.3s;
      &:hover {
        color: lightgrey;
      }
      &:link {
        text-decoration: none;
      }
    }
  }
}
